<div class="row">
  <div class="col-md-8">
    <div class="media">
      <br />
      <!-- 12  -->
      <% avatar_url = @user.avatar_url(128) %>
      <% if avatar_url %>
        <div class="media-left">
          <%= image_tag avatar_url, class: 'media-object' %>
        </div>
      <% end %>
      <div class="media-body">
        <h2 class="media-heading"><%= @user.name %></h2>
        <small>
          <%= pluralize(@user.posts.count, 'post') %>
          <%= pluralize(@user.comments.count, 'comment') %>
        </small>
      </div>
    </div>
  </div>
</div>

<!-- 14 -->
<h2>Posts</h2>
  <%= count_posts(@user) %>

<h2>Comments</h2>
  <% count_comments(@users) %>

<h2>Favorite Posts</h2>
  <%= show_favs(@user) %>
